<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.example.rubypaper.mapper.CartMapper">

	<insert id="cartInsert">
		INSERT INTO cart (cart_id, user_id, clo_imgSrc, quantity, size, name, price)
		SELECT COALESCE(MAX(cart_id) + 1, 1), #{user_id}, #{clo_imgSrc}, #{quantity}, #{size}, #{name}, #{price}
		FROM cart
	</insert>
	
	
	
	<select id="cartCheckimgSrc">
		select clo_imgSrc
		from cart	 
		where clo_imgSrc = #{clo_imgSrc}
	</select>
	
</mapper>