<!DOCTYPE html>
<html>
<head>

<meta charset="UTF-8">
<title>Rating PopUp</title>    
	<!-- include libraries(jQuery, bootstrap) -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	
	<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.20/dist/summernote-lite.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.20/dist/summernote-lite.min.js"
	integrity="sha256-5slxYrL5Ct3mhMAp/dgnb5JSnTYMtkr4dHby34N10qw=" crossorigin="anonymous"></script>

    <!-- Css Styles -->
   <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/rating.css" type="text/css">
	
</head>
<body>
	<form id="reviewForm" action="/ReviewInsertServlet" method="POST">
		<div class="contain">
			<div><br>
			<p class="ff">별점 남기기</p>
			<div class="pt-1">
						<textarea id="summernote" class="form-control" name="reviewText" required ></textarea>
					</div>    
					<script>
						$('#summernote').summernote({
						  placeholder: '자유롭게 작성해주세요',
						  tabsize: 2,
						  height: 300
						});
					  </script>
			</div>
		<div class="star-rating space-x-4 ml-auto mr-1">
			<input type="radio" id="5-stars" name="rating" value="5"/>
			<label for="5-stars" class="star pr-4">★</label>
			<input type="radio" id="4-stars" name="rating" value="4"/>
			<label for="4-stars" class="star">★</label>
			<input type="radio" id="3-stars" name="rating" value="3"/>
			<label for="3-stars" class="star">★</label>
			<input type="radio" id="2-stars" name="rating" value="2"/>
			<label for="2-stars" class="star">★</label>
			<input type="radio" id="1-star" name="rating" value="1"/>
			<label for="1-star" class="star">★</label>
		</div>
		<div class="text-right mt-1 mr-3">
		<button class="btn btn-danger"type="reset">취소하기</button>
		<button class="btn btn-success" type="submit">등록하기</button>
		</div>
		</div>
	</form>
</body>
	
</html>